
<!-- details cards -->

<body>
    <div class=""> 
        <div class="container text-center py-5 shadow-lg text-light">
            <img [src]="alumniDet.image" class="rounded-3 shadow " >
        <h2 class="text-center my-4"> {{alumniDet.name}}</h2>
        <hr>
        <p class="text-center"><strong>Description:</strong> 
            <br><br>{{alumniDet.description}}</p>
        <hr>
            <br>
            <br>
            <!-- create function to return back to alumni directory -->
            <!-- <button (click)="" class ="btn btn-success">Back to Alumni</button> -->
    </div>
    </div>
    </body>
