<div class="container">
  <img src="./img/gruop.jpg" class="img-fluid animate__animated animate__backInDown" alt="here is a picture" />

  <!-- title -->
  <strong>
    <p class="text-warning ">
      <p class="text-warning animate__animated animate__pulse">
        <span class="px-1 rounded-2 "> OUR </span> <span class="mx-3 px-1 rounded-2"> GREATEST </span><br/>
        <span class="px-1 rounded-2"> DISCOVERY </span> <span class="m-3 px-1 rounded-2"> IS </span><br />
        <span id="you" class="px-1 rounded-2 animate__pulse"> YOU! </span>
    </p>
  </strong>
</div>
