.news-details-container {
  background-color: #f8f9fa;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-details-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #343a40;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

small {
  display: block;
  margin-bottom: 15px;
  color: #6c757d;
  font-size: 0.9rem;
}

p {
  color: #495057;
  line-height: 1.6;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
  border: none;
}

.btn-secondary:hover {
  background-color: #5a6268;
}
