.news-details-container {
  background-color: #f8f9fa;
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-details-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1{
  font-family: 'Menante';
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: rgb(181, 231, 231);
  -webkit-text-stroke: 1.5px rgb(188, 88, 215);
  text-shadow: 0px 0px 10px rgb(125, 68, 189), 0px 0px 20px rgb(102, 17, 148),
    0px 0px 40px rgb(133, 53, 190), 0px 0px 80px rgb(127, 29, 184);
    text-decoration: underline;
}

h2 {
  font-family: 'Menante';
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: rgb(129, 245, 245);
  -webkit-text-stroke: 1.5px rgb(188, 88, 215);
  text-shadow: 0px 0px 10px rgb(61, 90, 172), 0px 0px 20px rgb(66, 94, 173),
    0px 0px 40px rgb(56, 93, 187), 0px 0px 80px rgb(61, 66, 185);
}

small {
  display: block;
  margin-bottom: 15px;
  color: #5d6dd5;
  font-size: 0.9rem;
  -webkit-text-stroke: 1px #c7ced4;

}

p {
  color: #c7ced4;
  line-height: 1.6;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
  border: none;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

