img {
  height: 250px;
  animation-duration: 1.5s;
  width: 90%;
}

/* modified heading */
h2 {
  font-family: "Menante";
  font-size: 3rem;
  color: rgb(129, 245, 245);
  -webkit-text-stroke: 1.5px rgb(188, 88, 215);
  text-shadow: 0px 0px 10px rgb(61, 90, 172), 0px 0px 20px rgb(66, 94, 173),
    0px 0px 40px rgb(56, 93, 187), 0px 0px 80px rgb(61, 66, 185);
    animation-duration: 2s;
}

h3 {
  font-family: "Menante";
  font-size: 1.5rem;
  -webkit-text-stroke: 1px rgb(32, 8, 61);
  animation-delay: 1s;
  animation-duration: 1s;
}

p{
  animation-delay: 1.5s;
  animation-duration: 1.5s;
}

