*{
    margin: 0;
    padding: 0;
}

 img{
    height: 18rem;
    object-fit: cover;
    border-radius: 50%;
    outline: 10px  solid blueviolet;
    border: none;
 } 

/* .card{
    height: 40rem;
} */

a :hover{
    box-shadow: 
    0px 0px 10px rgb(216, 81, 216),
    0px 0px 20px rgb(216, 81, 216),
    0px 0px 40px rgb(216, 81, 216),
    0px 0px 80px rgb(216, 81, 216);
    transition: 1s;
}

#btnMore{
    color: ;
}


