<body>

<h1 class=" text-center py-5 "> Graduated Alumni</h1>




<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
<div *ngFor="let alumniCard of alumni; let i = index"> 
<div class="card my-4 mb-4 px-2 mx-auto text-center py-3   rounded-pill shadow-lg text-light bg-dark bg-gradient bg-opacity-75" style="width: 18rem;" id="cardImg">
    <a routerLink="/card/{{i}}"><img [src]="alumniCard.image" class="card-img-top"></a>
    
    <br>
    <div class="card-body">
      <h5 class="card-title display-6">{{alumniCard.name}}</h5>
      <p class="card-text">{{alumniCard.age}}</p>
      <br>
      <h5 class="card-title">{{alumniCard.qualification}}</h5>
      <br>
      <br>
      <!-- <a routerLink="/card/{{i}}" class="btn btn-info px-2" id="btnMore">more...</a> -->
    </div>
  </div>
  </div>
</div>

</body>