/* General page styling */
.career-page {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Header styling */
  header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  header h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: #0056b3;
    /* modified heading */
    -webkit-text-stroke: 1.5px rgb(188, 88, 215);
    text-shadow: 0px 0px 10px rgb(137, 21, 175), 0px 0px 20px rgb(112, 25, 159),
      0px 0px 40px rgb(113, 32, 205), 0px 0px 80px rgb(133, 29, 177);
      animation-duration: 2s;
  }
  
  header p {
    font-size: 1.2rem;
    color: #666;
    animation-delay: 1s;
    animation-duration: 1.5s;
  }

  /* modified header */
  #sub-heading {
      font-family: 'Menante';
      font-size: 1.3rem;
      color: rgb(130, 127, 213);
      -webkit-text-stroke: 1.5px rgba(151, 16, 208, 0.878);
  }
  
  /* Search bar styling */
  .search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    
  }
  
  .search-bar input {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 1rem;
    outline: none;
    box-shadow: 0 4px 8px rgba(102, 16, 177, 0.1);
    transition: box-shadow 0.2s ease;
  }
  
  .search-bar input:focus {

    box-shadow: 0 6px 12px rgba(52, 11, 90, 0.471);
  }

  #searchBar:hover {
    color: rgb(145, 80, 167);
  text-shadow: 0px 0px 10px rgb(61, 90, 172), 0px 0px 20px rgb(66, 94, 173),
    0px 0px 40px rgb(56, 93, 187), 0px 0px 80px rgb(61, 66, 185);
    animation-duration: 2s;

  }
  
  /* Job list styling */
  .job-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    animation-delay: 1.5s;
    animation-duration: 2s;
  }
  
  .job-item {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    transition: transform 0.3s ease;
  }
  
  .job-item:hover {
    transform: translateY(-5px);
  }
  
  .job-item h2 {
    font-size: 1.5rem;
    color: #7497e3;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-family: 'Menante';
    -webkit-text-stroke:  1.5px #cd7df2;
  }
  
  .job-item p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
  }
  
  .job-item p strong {
    font-weight: 600;
    color: #0056b3;
    -webkit-text-stroke: 0.2px rgb(117, 185, 227);
  }

  
  /* Footer styling */
  footer {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
  }
  
  footer p {
    font-size: 1rem;
    color: #777;
    -webkit-text-stroke: 1px rgb(200, 111, 241);
  }
  