.news-container {
  max-width: 400px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1) !important;
  animation-duration: 1.3s;
  animation-delay: 3.5s;
}

.news-item {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: white;
}

.news-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.news-item h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
  font-weight: 700;
}

.news-item p {
  margin: 8px 0;
  color: #555;
  font-size: 1rem;
}

/* Button styling */
.news-item a {
  display: inline-block;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: background-color 0.3s, color 0.3s;
}
.news-item a:hover {
  background-color: #0056b3;
  color: white;
}

/* modified heading */
h2{
  font-family: 'Menante';
  font-size: 1.5rem;
  -webkit-text-stroke: 1px rgb(79, 152, 211);
}