<br />
<div class="news-container animate__animated animate__fadeInLeft">
  <h2>Latest News <img src="/img/newspaper.png" height="80px" alt="" /></h2>

  <div id="newsCarousel" class="carousel slide" data-bs-ride="carousel">
    <!-- Carousel Indicators -->
    <!-- <ol class="carousel-indicators">
      <li
        *ngFor="let news of newsList; let i = index"
        [attr.data-bs-target]="'#newsCarousel'"
        [attr.data-bs-slide-to]="i"
        [class.active]="i === 0"
      ></li>
    </ol> -->

    <!-- Carousel Inner -->
    <div class="carousel-inner">
      <div
        class="carousel-item"
        *ngFor="let news of newsList; let i = index"
        [class.active]="i === 0"
      >
        <div class="news-item bg-info  bg-gradient bg-opacity-50">
          <div class="news-content">
            <h3>{{ news.title }}</h3>
            <p>{{ news.excerpt }}</p>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <small id="date">{{ news.date }}</small>
            <a routerLink="/news-details" class="btn btn-primary bg-gradient opacity-50 border-light ">Read More</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Carousel Controls -->
    <a
      class="carousel-control-prev"
      href="#newsCarousel"
      role="button"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#newsCarousel"
      role="button"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</div>
